*,*::after,*::before{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
}
.Header{
    text-align: center;
    height: auto;
    background-image: url('./img-1.png');
    /* width: 100%;
    height: auto; */
    background-size: cover;
    background-position: center;
    padding: 8px;
    box-sizing: border-box;
}
.Header.row{
    background-image: url('./img-1');
}
.titleHeader{
    font-family: 'Gugi', cursive;
    color: white;
}
.titleHeader h1{
    padding: 8px;
    font-size: 0.8rem;
    margin: 0px;
}
.banner{
    box-sizing: border-box;
}
.banner img{
    background-color: transparent;
    padding: 8px;
    width: 5em;
    height:5em;
    
}
.titleHeader2{
    padding: 8px;
}
.icon {
    margin: 10px;
    color:#ddd;
}
.titleHeader2 a:hover{
    color: white;
    text-decoration: none;
}
.Header .titleHeader2 .infoHeader span{
    border: 1px solid white;
    padding: 3px 8px;
    border-radius: 30px;
    text-align: center;
}
.banner2{
    box-sizing: border-box;
    color: #ffffff;
}
.banner2 .ul-imgHeader{
    margin: 0.4em 0.4em;
    padding: 0 ;
}
.banner2 .ul-imgHeader .fab{
    padding: 0 ;
    margin: 0 0.5em;
    color: white;
}
.banner2 .ul-imgHeader a title{
    display: none;
}
.banner2 .ul-imgHeader a .fab:hover title{
    display: inline
}
.banner2 .info{
    color: white;
    border: 1px solid white ;
    margin: 0 0.4em;
    padding: 0 0.5em;
    border-radius: 5em;
    box-sizing: border-box;
}
.banner2 .info::after,.banner2 .info::before{
    box-sizing: border-box;
}
.banner2 .info:hover{
    color: black;
    text-decoration: none;
    background-color: white;
    border: 1px solid transparent;
    transition: 0.9s ease;
}
.container-fluid .info{
    margin: 0.5em 0.5em;
}
  /* dropdown */
main .dropdownMenu{
    position: relative;
    width: 100%;
    margin: 20px auto;
    background-color: #ffffff;
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0px 1px 5px rgba(0, 0, 0,.2);

}
.droptitle{
    color: #069370;
    height: 50px;
    font-size: 36px;
    line-height: 60px;
    padding: 0 20px;
    float: left; 
    box-sizing: border-box;
    text-align: center;
    font-weight: bold; 
}
main .dropdownMenu .droptitle:hover{
    text-decoration: none;
    color:#0008ff;
}
main .dropdownMenu nav{
float: right;
}
.clear-fix{
    clear: both;
}
main .dropdownMenu nav ul{
    margin: 0;
    padding: 0;
    display: flex;
}
main .dropdownMenu nav ul li{
    list-style-type: none;
    position: relative;
}
main .dropdownMenu nav ul li.sub-menu:before
{
    position: absolute;
    content: '\f0d7';
    font-family: 'fontAwesome';
    line-height: 65px;
    right: 5px;
}
main .dropdownMenu nav ul li.active.sub-menu:before
{
    content: '\f0d8';
    font-family: 'fontAwesome';
}
main .dropdownMenu nav ul li ul{
    list-style: none;
    width: 200px;
    position:absolute;
    display: none;
    background-color: #fff;
    box-shadow: 0 1px 5px rgba(0, 0, 0,.2);
}
main .dropdownMenu  nav ul li.active ul{
    display: block;
    margin: 1px;
}
main .dropdownMenu  nav ul li ul li{
    display: block;
}
main .dropdownMenu  nav ul li a{
    display: block;
    margin: 10px 0;
    padding: 10px 20px;
    text-decoration: none;
    color: #262626;
}
main .dropdownMenu  nav ul li:hover  a{
    text-decoration: none;
}
main .dropdownMenu  nav ul li a.active, main .dropdownMenu nav ul li a:hover{
    background: #069370;
    color: #fff;
    transition: 0.9s ease;
}
.menu-toggle{
    display: none;
    width: 40px;
    height: 40px;
    margin: 10px;
    background: #cccccc;
    float: right;
    cursor: pointer;
    text-align: center;
    font-size: 30px;
    color: #069370;
}

/* container-menu */
.container-menu{
    background-color: white;
    box-shadow: 0 1px 5px rgba(0, 0, 0,.2);
}
.container-menu .main-menu{
    padding: 5px 10px;
    margin: 10px 0px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: content-box;
}
.container-menu .main-menu span{
    font-size: 25px;
}
.container-menu .main-menu a{
    color:#069370;
    font-weight: bold;
    font-size: 15px;
}
.container-menu .main-menu a:hover{
    text-decoration: none;
    color: #0008ff;
}
.container-menu .main-menu2{
    padding: 5px 10px;
    margin: 10px 0px;
    overflow-x: auto;
}
.container-menu .main-menu2 ul{
    margin: 0px;
    padding: 0px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    
}
.container-menu .main-menu2 ul a{
    position: relative;
}
.container-menu .main-menu2 ul .image{
    position: relative;
    width:310px;
    height:auto;
}
.container-menu .main-menu2 ul .banner{
    position: absolute;
    width: 56px;
    height: 56px;
    left: 75%;
}
/* responsive */
@media (min-width: 576px) { 
    .titleHeader h1{
        font-size: 1.2rem;
        margin: 0px;
    }
 }
@media (min-width: 992px) { 
    .titleHeader h1{
        font-size: 1.5rem;
        margin: 0px;
    }
 }
@media (min-width: 1200px) { 
    .titleHeader h1{
        font-size: 2.5rem;
        margin: 0px;
    }  
 }
 @media(max-width:1200px){

     .banner2{
         display: none;
     }
     .banner img{
        background-color: transparent;
        padding: 8px;
        width: 7em;
        height:7em;
    }
    .Header{
        background-color: black;
        background-image: none;
    }
    main .dropdownMenu {
        padding: 0 20px;
    }
    .menu-toggle{
        display: block;
    }
    main .dropdownMenu  nav{
        /* display: none; */
        position: absolute;
        width: 100%;
        height: calc(100vh-50px);
        top: 60px;
        left: -200%;
        margin: 2px auto;
        /* padding: 0 20px; */
        background-color: #ffffff;
        /* box-sizing: border-box;
        border-radius: 4px;
        box-shadow: 0px 2px 5px rgba(0, 0, 0,.2); */
        transition: 0.5s;
    }
    main .dropdownMenu  nav.active{
        left:0;
    }
    main .dropdownMenu  nav.active ul{
        display: block;
        text-align: center;
    }
    main .dropdownMenu  nav ul li a{
        margin:0;
    }
    main .dropdownMenu  nav.active ul li a{
        border-bottom: 1px solid rgba(0, 0, 0,.2);
    }
    main .dropdownMenu  nav ul li.sub-menu:before{
        line-height: 45px;
    }
    main .dropdownMenu  nav ul li.active ul{
        display:block;
        position:relative;
        left: 0;
        width: 100%;
        box-shadow: none;
    }
    main .dropdownMenu nav ul li ul{
        left: -200%;
    }
 }
 @media(max-width:992px){
    .banner2{
        display: none;
    }
    .banner img{
       background-color: transparent;
       padding: 6px;
       width: 6em;
       height:6em;
   }
   .Header{
       background-color: black;
       background-image: none;
   }
}
@media(max-width:567px){
    .banner2{
        display: none;
    }
    .banner img{
       background-color: transparent;
       padding: 4px;
       width: 5em;
       height:5em;
   }
   .Header{
       background-color: black;
       background-image: none;
   }
   .container-menu .main-menu2 ul .image{
    position: relative;
    width:100%;
    max-width: 120px;
    height:auto;
}
.container-menu .main-menu2 ul .banner{
    position: absolute;
    width: 100%;
    max-width: 20px;
    height: auto;
    left: 75%;
}
}
@media(max-width:360px){
    .container-menu .main-menu2 ul .image{
        position: relative;
        width:100%;
        max-width: 70px;
        height:auto;
    }
    .container-menu .main-menu2 ul .banner{
        position: absolute;
        width: 100%;
        max-width: 10px;
        height: auto;
        left: 75%;
    }
}
